<div class="row charts pt-3">
    <div class="col-lg-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <canvas width="400" height="400" id="linechart"></canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <canvas width="400" height="350" id="piechart"></canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <canvas width="400" height="400" id="barchart"></canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <canvas width="400" height="350" id="radarchart"></canvas>
        </div>
      </div>
    </div>
  </div>